@import '../../app.scss';

.challenge-card {
  min-width: 100px;
  width: 90%;
  height: 200px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;

  @include tablet {
    min-width: 200px;
    width: 220px;
    height: 320px;
  }

  &__container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    @include tablet {
      height: 160px;
      margin-top: 25px;
    }

    .challenge-card__image {
      height: 100px;
      flex-shrink: 0;

      @include tablet {
        height: 160px;
      }
    }
  }

  &__title {
    font-family: $font-basic;
    color: $color-light;
    font-size: $m;
    text-align: center;
    margin-top: 30px;

    @include tablet {
      font-size: $xl;
      margin-top: 50px;
    }
  }
}

.auto-care {
  background-color: $color-primary;
}
.social {
  background-color: $color-secondary;
}
.home {
  background-color: $color-cuaternary;
}
