@import '../../app.scss';

.header {
  width: 100%;
  color: white;
  font-family: $font-basic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $color-primary;
  height: 300px;
  margin: auto;
  border-radius: 0 0 85% 85% / 30%;
  text-shadow: 1px 1px 1px #333;
  background-color: rgb(0, 229, 255);
  background-image: linear-gradient(120deg, $color-primary 50%, #485a5b6b 100%);
  position: relative;
  padding: 30px 0;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 70px;
  }
  &-container {
    display: flex;
    align-items: center;
    @include tablet {
      max-width: 1200px;
    }
  }
  &-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  &-title {
    font-size: xl;
    margin: 30px 0;
  }
}
