@import '../../app.scss';
.modal__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cccc;
}

.modal__dialog {
    //position
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //style
    width: 70vw;
    max-width: 70%;
    border: 0.5px solid $color-secondary;
    border-radius: 5px;
    background-color: $color-light;
    box-shadow: $shadow-modal;
    display: flex;
    flex-direction: column;
    padding: 5px;

    @include tablet {
        width: 600px;
        max-width: 100%;
    }
}

.modal__button-close {
    width: 30px;
    height: 30px;
}
.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }

    &-image {
        @include tablet {
            transform: scale(0.9);
        }
    }

    &-list {
        padding-left: 20px;
        font-family: $font-basic;
        color: $color-medium;
        font-weight: $regular;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.modal__list-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $bold;
    color: $color-primary;
    font-size: 30px;
    margin-bottom: 10px;
}

.modal__button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.modal__button-close {
    width: 20px;
    height: 20px;
}
