@import '../../app.scss';

.modal {
    width: 100%;
    height: 100vh;
    background-color: #bfbcba;
    color: white;
    padding: 5px;

    @include tablet {
        width: 600px;
        max-width: 100%;
    }
}

.button__wrapp {
    display: flex;
    align-content: left;
    text-decoration: none;
    flex-direction: row-reverse;
}

.button__close {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    margin-top: 12px;
    text-decoration: none;
    font-weight: $medium;
    color: white;
    text-align: center;
    background-color: transparent;
}

.wrapper {
    margin: 70px 50px;
}

.modal__content {
    justify-content: center;
    display: flex;
    flex-direction: column;

    &-image {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        padding: 10px;

        & img {
            width: 100%;
            display: block;
        }
    }

    &-info {
        padding-left: 20px;
        font-family: $font-basic;
        color: white;
        font-weight: $regular;
        display: flex;
        flex-direction: column;
    }
}

.modal__title {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

.modal__description {
    font-weight: $regular;
    color: white;
}

.modal__type {
    margin: auto;
}
