@import '../../app.scss';

.landing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  font-family: $font-basic;
  &__header {
    margin: 50px;
    text-align: center;
    max-width: 1200px;
  }
  &__icon {
    width: 20rem;
    align-self: center;
    margin: 0;
  }
  &__p {
    color: #26c7a4;
    font-size: 1.8rem;
    margin: 20px;
    margin-bottom: 30px;
  }
  &__btn {
    width: 20px;
    margin: auto;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.8rem;
    background-color: #de3d6f;
    &:hover {
      background-color: #3a3b74;
    }
  }
}

@media all and (min-width: 1024px) {
  .landing {
    width: 100%;
    &__icon {
      width: 20rem;
      align-self: center;
    }
    &__btn {
      width: 100px;
      font-size: 1.2rem;
      padding: 10;
      &:hover {
        background-color: #3a3b74;
      }
    }
  }
}
