@import '../../app.scss';

.challenge-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  margin-top: 20px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 30px;
  }
}
